*.*~

.Rproj.user
*.Rproj
.Rhistory

wyniki_calosc.csv
mazowsze2010.csv
wyniki_samorzad_2014.csv

*.png

sciaganie_danych/glos.csv
sciaganie_danych/kom.csv
sciaganie_danych/temp	
sciaganie_danych/temp2
sciaganie_danych/tmp
